$fontFamily: 'Inter', sans-serif;
$h1FontSize: clamp(2rem, 4vw, 3.375rem);
$h2FontSize: clamp(1.75rem, 3vw, 2.5rem);
$h3FontSize: clamp(1.5rem, 4vw, 2rem);
$h4FontSize: clamp(1.3rem, 2vw, 1.5rem);
$h5FontSize: 1.125em;
$L-bodyFontSize: 1.25em;
$bodyFontSize: 1.125em;
$M-bodyFontSize: 1em;
$S-bodyFontSize: 14px;
$primaryColor: #00AC3C;
$secondaryColor: #9747FF;
$accentColor: #EB9081;
$backgroundColor: #161415;
$strokeColor: #333333;
$bodyTextColor: rgba(255, 255, 255, 0.8);
$headingTextColor: #ffffff;
$packageColor-1: #5D2BE9;
$packageColor-2: #1A51F4;
$packageColor-3: #F94B60;
$packageColor-4: #09CA96;
$packageColor-5: #333333;
$grey-01: #1E1E1E;
$transitionDuration: 0.2s;
