//This is the single file output by sass. It is intended to ONLY @import other files.

//1 - HELPERS
@import '1-helpers/variables';
@import '1-helpers/functions';
@import '1-helpers/mixins';

//2 - TOOLS
// @import '2-tools/slick';

//3 - BASICS

@import '3-basics/globalStyling';
@import '3-basics/buttons';
@import '3-basics/forms';
// @import '3-basics/selection-colors';
// @import '3-basics/typography';

//4-LAYOUT
// @import "4-layout/adminPanelContent";
@import "4-layout/footer";
@import "4-layout/navigation";
@import "4-layout/siteMainContent";

//5-COMPONENTS
@import "5-components/heroSection.scss";
@import "5-components/featuresSection.scss";
