.hero-section {
  margin-top: 48px;
  .section-flex{
    align-items: center;
  }
  span {
    color: $secondaryColor;
  }
  .text-description {
    h1{
        margin-bottom: 16px;
    }
    p{
        margin-bottom: 48px;
    }
    button{
        display: flex;
        align-items: center;
        gap: 16px;
        .arrow-icon{
            background-color: $backgroundColor;
            padding: 8px;
            border-radius: 100%;
            color: #fff;
            font-size: 48px;
            margin-top: 2px;
        }
    }
  }
}
